body {
    background:#000;
    color: #fff;
}

/* Current Word */
#current-word {

}

#current-word li {
    border-bottom: 1px solid red;
    width: 20px;
    display: inline-block;
}

#current-word li:nth-child(even) {
    margin: 0 5px;
}


